$myFont: "Source Sans 3", serif;
$mybackcolor: #04AA6D;
$mymainpurple: #F3ECEA;
$myblue: #D9EEE1;
$mybluedark: #96D4D4;
$mycolor: white;
$mybackcolorblue: #282A35;
$mybackcolorpink: #FFC0C7;
$mybackyellow: #FFF4A3;
$mycodebg: #E7E9EB;
$myblack: black;

.bg-green {
    background-color: $mybackcolor;
    color: $mycolor;
}

.bg-white {
    background-color: $mycolor;
    color: $myblack;
}

.bg-yeollow {
    background-color: $mybackyellow;
    color: $myblack ;
}

.bg-blue {
    background-color: $mybackcolorblue;
    color: $mycolor;
}

.bg-Lblue {
    background-color: $myblue;
    color: $myblack;
}

.bg-lBBlue {
    background-color: $mybluedark;
    color: $myblack;
}

.bg-pink {
    background-color: $mybackcolorpink;
    color: $myblack;
}

.bg-purple {
    background-color: $mymainpurple;
    color: $myblack;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


// -----------------------------------------------header------------------------------------------------------------------------------------
header {
    height: 10px;
    background-color: #FFFFFF;
    display: grid;
    align-items: center;
    top: 0;
    position: fixed;
    border-right: white 2px solid;
    height: auto;

    .headerone {
        display: block;

        .header-left {
            display: flex;
            height: 100%;
            margin: -7px 0px;
            align-items: center;

            .menu-btn {
                height: 100%;
                text-decoration: none;
                color: black;
                font-family: $myFont;
                line-height: 1.5;
                font-size: 16px;
                text-align: center;
                cursor: pointer;
                padding: 16px 16px;
            }

            #Tutorial-btn {
                display: none;
                text-align: center;
                align-items: center;
                gap: 4px;

                @media all and (min-width:600px) {
                    display: flex;
                }
            }

            #Exercises-btn {
                display: none;
                text-align: center;
                align-items: center;
                gap: 4px;

                @media all and (min-width:800px) {
                    display: flex;
                }
            }

            #Certificates-btn {
                display: none;
                text-align: center;
                align-items: center;
                gap: 4px;

                @media all and (min-width:800px) {
                    display: flex;
                }
            }

            #Services-btn {
                display: none;
                text-align: center;
                align-items: center;
                gap: 4px;

                @media all and (min-width:900px) {
                    display: flex;
                }
            }

            #btn-m {
                display: flex;
                font-size: 18px;
                font-family: $myFont;
                gap: 10px;

                @media all and (min-width:900px) {
                    display: none;
                }

            }

            .menu-btn:hover {
                background-color: #04AA6D;
                color: white;
            }

            .menu-btn:first-child {
                padding: 0;
            }

            .menu-btn:first-child:hover {
                background-color: transparent;
            }

            .w3schools-logo {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                padding: 0px 20px;

                img {
                    font-size: 36px;
                    width: 38px;
                    height: 36px;
                }
            }

        }

        .header-left1 {
            display: flex;
            text-align: center;
            align-items: center;
            margin-top: -17px;
            gap: 30px;
            margin: 0;

            @media all and (min-width:340px) {
                gap: 10px;
            }

            p {
                color: #282A35;
                font-family: $myFont;
                padding: 6px 40px 6px 15px;
                border: 1px solid rgba(0, 0, 0, 0.25);
                border-radius: 25px;
                width: 90%;
                font-size: 16px;
                display: none;
                text-align: left;

                @media all and (min-width:990px) {
                    display: block;

                }
            }
        }

        .header-left2 {

            .togglelightdark {
                padding: 0px 115px 0px 21px;

                @media all and (max-width:380px) {
                    padding: 0px 10px 0px 6px;
                }
            }

        }

        .headright {
            display: flex;
            justify-content: space-between;

            .header-right {
                display: flex;
                align-items: center;
                text-align: center;
                color: #000;
                gap: 15px;
                background-color: #fff;
                // padding: 8px;
                justify-content: space-between;
                font-size: 18px;

                div {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    font-family: $myFont;
                    font-size: 16px;
                    margin-right: 20px;
                    text-align: center;

                    svg {
                        color: #9763f6;
                    }
                }

                .plus-btn {
                    display: none;

                    @media all and (min-width:1300px) {
                        display: flex;
                    }
                }

                .tech-btn {
                    display: none;

                    @media all and (min-width:1200px) {
                        display: flex;
                    }
                }

                .space-btn {
                    display: none;

                    @media all and (min-width:1100px) {
                        display: flex;
                    }
                }

                .get-btn {
                    display: none;

                    @media all and (min-width:1000px) {
                        display: flex;
                    }
                }
            }

            .w3nav-button {
                align-items: center;
                display: flex;
                justify-content: space-around;
                position: relative;
                left: 17px;
                font-family: $myFont;

                .button1 {
                    border-radius: 20px;
                    background-color: #04AA6D;
                    color: white;
                    border-style: none;
                    position: relative;
                    z-index: 5;
                    width: 93px;
                    height: 40px;
                    border-radius: 25px;
                    margin-right: -41px;
                    font-size: 16px;
                    display: none;

                    @media all and (min-width:380px) {
                        display: block;
                    }
                }

                .button2 {
                    width: 102px;
                    height: 40px;
                    background-color: #dcefe4;
                    color: black;
                    border-radius: 25px;
                    padding-left: 43px;
                    font-size: 16px;
                    line-height: 1.5;
                    border-style: none;
                    margin-right: 50px;
                    margin-left: -5px;

                    @media all and (max-width:380px) {
                        padding-left: 13px;
                        margin-left: -25px;
                    }
                }

                p {
                    font-size: 16px;
                    color: #000000;
                    font-family: $myFont;
                }
            }
        }


    }

}

//-----------------------------------------------section--------------------------------------------------------------------------------------
.section {
    align-items: center;
    color: white;
    width: 100%;
    overflow: auto;
    line-height: 1.5;
    margin: auto;
    text-align: center;


    .section01 {
        background-image: url(assets/image/01lynx_in_space.webp), url(assets/image/02background_in_space.webp);
        background-repeat: no-repeat, repeat;
        background-position: 90% 60%, center center;
        padding-top: 50px;
        font-family: $myFont;
        margin: 55px 0px 0px auto;

        @media all and (max-width:1000px) {
            background-image: url(assets/image/02background_in_space.webp);
        }

        h1 {
            font-family: $myFont;
            font-size: 70px;
            font-weight: 700;
        }

        p {
            color: #FFF4A3;
            font-weight: 700;
            margin-top: 30px;
            font-size: 21px;
        }

        a {
            color: white;
            font-size: 20px;
            font-weight: 700;
            line-height: 4;
        }

        a:hover {
            color: #FFF4A3;
        }

        .button3 {
            text-align: left;
            color: rgb(118, 118, 118);
            font-family: $myFont;
            padding: 10px;
            font-size: 17px;
            border: 1px solid #282A35;
            border-radius: 25px;
            width: 26%;
            padding-left: 25px;
            background: white;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            font-weight: 600;
            border-right: 0;
            border-right: 1px solid #04AA6D;
            outline: 0;

            @media all and (max-width: 768px) {
                width: 70%;
                font-size: 16px;
                padding: 8px;
            }
        }

        .button4 {
            line-height: 1.456;
            border-radius: 25px;
            margin-left: -5px;
            width: 7%;
            padding: 10px;
            background: #04AA6D;
            color: white;
            font-size: 17px;
            border: 1px solid #282A35;
            border-left: none;
            cursor: pointer;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            @media all and (max-width: 768px) {
                width: 20%;
                font-size: 16px;
                padding: 8px;
            }
        }
    }
}

//-----------------------------------------------section HTML--------------------------------------------------------------------------
.section-html {
    font-family: $myFont;
    background-color: $myblue;
    position: static;
    color: #000;
    top: 30PX;
    margin-top: -30px;
    width: 100%;

    @media all and (min-width:1000px) {
        display: flex;
        justify-content: center;
        gap: 23px;
        padding: 50px 0px;
    }

    .svgim {
        display: block;
    }

    .section-left {
        background-color: $myblue;
        padding: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media all and (min-width:1000px) {
            display: flex;
            font-size: 19px;
            justify-content: center;
            align-items: center;
            width: 30%;
        }

        p {
            color: #000;
            font-size: 19px;
            font-weight: 550;

        }

        h1 {
            margin: 0px;
            padding: 0px;
            font-size: 100px;
            font-weight: 700;
        }

        a {
            width: 168px;
            border-radius: 50px;
            font-size: 18px;
            text-decoration: none;
            text-align: center;
            align-items: center;
            padding: 10px 16px;
            margin-bottom: 30px;

            @media all and (min-width:1000px) {
                justify-content: center;
                align-items: center;
            }
        }

    }

    .section-right {
        font-family: $myFont;
        display: none;

        @media all and (min-width:1000px) {
            display: block;
            background-color: $mycodebg;
            padding: 8px 20px;
            height: 100%;
            width: 28%;
            box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1);
            border-bottom: 5px;
        }

        h1 {
            font-size: 24px;
        }

        .editor {
            @media all and (min-width:1000px) {
                background-color: $mycolor;
                height: 289px;
                max-height: 100%;
                min-height: 100%;
                padding: 10px;
                border-left: 4px solid #04AA6D;
                font-size: 15px;
                line-height: 25px;
                font-family: Consolas, Menlo, "courier new", monospace;
            }
        }

        .editor-btn {
            @media all and (min-width:1000px) {
                border-radius: 25px;
                background-color: #04AA6D;
                color: $mycolor;
                border: none;
                font-size: 18px;
                font-weight: 500;
                text-align: center;
                align-items: center;
                width: 200px;
                padding: 10px;
                margin-top: 20px;
                text-decoration: none;
                display: inline-block;
            }
        }
    }

}

//-----------------------------------------------section CSS--------------------------------------------------------------------------
.section-CSS {
    font-family: $myFont;
    background-color: $mybackyellow;
    color: #000;
    width: 100%;

    @media all and (min-width:1000px) {
        display: flex;
        justify-content: center;
        gap: 23px;
        padding: 50px 0px;
    }

    .section-left {
        padding: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media all and (min-width:1000px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
        }

        p {
            color: #000;
            font-size: 19px;
            font-weight: 550;

        }

        h1 {
            margin: 0px;
            padding: 0px;
            font-size: 85px;
            font-weight: 700;
        }

        a {
            width: 168px;
            border-radius: 50px;
            font-size: 18px;
            text-decoration: none;
            text-align: center;
            align-items: center;
            padding: 10px 16px;
            margin-bottom: 30px;

            @media all and (min-width:1000px) {
                justify-content: center;
                align-items: center;
            }
        }

    }

    .section-right {
        font-family: $myFont;
        display: none;

        @media all and (min-width:1000px) {
            display: block;
            background-color: $mycodebg;
            padding: 8px 20px;
            height: 100%;
            width: 28%;
            box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1);
            border-bottom: 5px;
        }

        h1 {
            font-size: 24px;
        }

        .editor {
            @media all and (min-width:1000px) {
                background-color: $mycolor;
                height: 289px;
                max-height: 100%;
                min-height: 100%;
                padding: 10px;
                border-left: 4px solid #04AA6D;
                font-size: 15px;
                line-height: 25px;
                font-family: Consolas, Menlo, "courier new", monospace;
            }
        }

        .editor-btn {
            @media all and (min-width:1000px) {
                border-radius: 25px;
                background-color: #04AA6D;
                color: $mycolor;
                border: none;
                font-size: 18px;
                font-weight: 500;
                text-align: center;
                align-items: center;
                width: 200px;
                padding: 10px;
                margin-top: 20px;
                text-decoration: none;
                display: inline-block;
            }
        }
    }

}

//-----------------------------------------------section JAVACCRIPT--------------------------------------------------------------------------
.section-JavaScript {
    font-family: $myFont;
    background-color: $mybackcolorblue;
    color: $mycolor;
    width: 100%;

    @media all and (min-width:1000px) {
        display: flex;
        justify-content: center;
        gap: 23px;
        padding: 50px 0px;
    }

    .section-left {
        padding: 1px;
        top: -10px;
        color: $mycolor;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media all and (min-width:1000px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
        }

        p {
            font-size: 19px;
            font-weight: 550;

        }

        h1 {
            margin: 0px;
            padding: 0px;
            font-size: 75px;
            font-weight: 700;
        }

        a {
            width: 170px;
            border-radius: 50px;
            font-size: 18px;
            text-decoration: none;
            text-align: center;
            align-items: center;
            padding: 10px 16px;
            margin-bottom: 30px;

            @media all and (min-width:1000px) {
                justify-content: center;
                align-items: center;
            }
        }

    }

    .section-right {
        font-family: $myFont;
        display: none;

        @media all and (min-width:1000px) {
            display: block;
            background-color: $mycodebg;
            padding: 8px 20px;
            height: 100%;
            width: 28%;
            box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1);
            border-bottom: 5px;
        }

        h1 {
            font-size: 24px;
            color: $myblack;
        }

        .editor {
            @media all and (min-width:1000px) {
                background-color: $mycolor;
                height: 242px;
                max-height: 100%;
                min-height: 100%;
                padding: 10px;
                border-left: 4px solid #04AA6D;
                font-size: 15px;
                line-height: 25px;
                font-family: Consolas, Menlo, "courier new", monospace;
            }
        }

        .editor-btn {
            @media all and (min-width:1000px) {
                border-radius: 25px;
                background-color: #04AA6D;
                color: $mycolor;
                border: none;
                font-size: 18px;
                font-weight: 500;
                text-align: center;
                align-items: center;
                width: 200px;
                padding: 10px;
                margin-top: 20px;
                text-decoration: none;
                display: inline-block;
            }
        }
    }

}

//-----------------------------------------------section PYTHON--------------------------------------------------------------------------
.section-Python {
    font-family: $myFont;
    background-color: $mymainpurple;
    color: $myblack;
    width: 100%;

    @media all and (min-width:1000px) {
        display: flex;
        justify-content: center;
        gap: 23px;
        padding: 50px 0px;
    }

    .section-left {
        padding: 1px;
        top: -10px;
        color: $myblack;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media all and (min-width:1000px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
        }

        p {
            font-size: 19px;
            font-weight: 550;

        }

        h1 {
            margin: 0px;
            padding: 0px;
            font-size: 75px;
            font-weight: 700;
        }

        a {
            width: 170px;
            border-radius: 50px;
            font-size: 18px;
            text-decoration: none;
            text-align: center;
            align-items: center;
            padding: 10px 16px;
            margin-bottom: 30px;

            @media all and (min-width:1000px) {
                justify-content: center;
                align-items: center;
            }
        }

    }

    .section-right {
        font-family: $myFont;
        display: none;

        @media all and (min-width:1000px) {
            display: block;
            background-color: $mycodebg;
            padding: 8px 20px;
            height: 100%;
            width: 28%;
            box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1);
            border-bottom: 5px;
        }

        h1 {
            font-size: 24px;
            color: $myblack;
        }

        .editor {
            @media all and (min-width:1000px) {
                background-color: $mycolor;
                height: 200px;
                max-height: 100%;
                min-height: 100%;
                padding: 10px;
                border-left: 4px solid #04AA6D;
                font-size: 15px;
                line-height: 25px;
                font-family: Consolas, Menlo, "courier new", monospace;
            }
        }

        .editor-btn {
            @media all and (min-width:1000px) {
                border-radius: 25px;
                background-color: #04AA6D;
                color: $mycolor;
                border: none;
                font-size: 18px;
                font-weight: 500;
                text-align: center;
                align-items: center;
                width: 200px;
                padding: 10px;
                margin-top: 20px;
                text-decoration: none;
                display: inline-block;
            }
        }
    }

}

//-----------------------------------------------section SQL--------------------------------------------------------------------------
.section-SQL {
    font-family: $myFont;
    background-color: $mybluedark;
    color: $myblack;
    width: 100%;

    @media all and (min-width:1000px) {
        display: flex;
        justify-content: center;
        gap: 23px;
        padding: 50px 0px;
    }

    .section-left {
        padding: 1px;
        top: -10px;
        color: $myblack;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media all and (min-width:1000px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
        }

        p {
            font-size: 19px;
            font-weight: 550;

        }

        h1 {
            margin: 0px;
            padding: 0px;
            font-size: 75px;
            font-weight: 700;
        }

        a {
            width: 170px;
            border-radius: 50px;
            font-size: 18px;
            text-decoration: none;
            text-align: center;
            align-items: center;
            padding: 10px 16px;
            margin-bottom: 30px;

            @media all and (min-width:1000px) {
                justify-content: center;
                align-items: center;
            }
        }

    }

    .section-right {
        font-family: $myFont;
        display: none;

        @media all and (min-width:1000px) {
            display: block;
            background-color: $mycodebg;
            padding: 8px 20px;
            height: 100%;
            width: 28%;
            box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1);
            border-bottom: 5px;
        }

        h1 {
            font-size: 24px;
            color: $myblack;
        }

        .editor {
            @media all and (min-width:1000px) {
                background-color: $mycolor;
                height: 200px;
                max-height: 100%;
                min-height: 100%;
                padding: 10px;
                border-left: 4px solid #04AA6D;
                font-size: 15px;
                line-height: 25px;
                font-family: Consolas, Menlo, "courier new", monospace;
            }
        }

        .editor-btn {
            @media all and (min-width:1000px) {
                border-radius: 25px;
                background-color: #04AA6D;
                color: $mycolor;
                border: none;
                font-size: 18px;
                font-weight: 500;
                text-align: center;
                align-items: center;
                width: 200px;
                padding: 10px;
                margin-top: 20px;
                text-decoration: none;
                display: inline-block;
            }
        }
    }

}

//----------------------------------------------CARD Container----------------------------------------------------------------
.courses_card_container {
    background-color: $mybackcolorblue;
    padding: 60px 10px;
    gap: 15px;
    font-family: $myFont;

    @media all and (min-width:1000px) {
        padding: 90px 90px;
    }

    .course-bigcard {
        display: grid;
        align-items: center;
        gap: 15px;
        text-align: center;

        @media all and (min-width:1000px) {
            grid-template-columns: repeat(2, minmax(200px, 1fr));
            gap: 70px;
        }

        div {
            padding: 34px 0px;
            border-radius: 5px;
        }

        h2 {
            font-size: 45px;
            margin-top: 0;
            margin-bottom: 0;
        }

        h5 {
            font-size: 17px;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 525;
            margin-bottom: 43px;
        }

        a {
            background-color: #282A35;
            color: white;
            text-decoration: none;
            padding: 10px 46px;
            font-size: 18px;
            border-radius: 25px;
            width: 168px;
            height: 27px;
        }

        a:hover {
            background-color: $myblack;
        }
    }

    .course-middlecard {
        gap: 20px;
        display: grid;
        margin-top: 20px;

        @media all and (min-width:1000px) {
            grid-template-columns: repeat(2, minmax(200px, 1fr));
            gap: 70px;
            margin-top: 60px;
        }

        a {
            font-family: $myFont;
            padding: 45px 0px;
            font-size: 30px;
            font-weight: 500;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
        }
    }

    .course-smallcards {
        gap: 20px;
        display: grid;
        margin-top: 20px;

        @media all and (min-width:1000px) {
            grid-template-columns: repeat(4, minmax(200px, 1fr));
            gap: 70px;
            margin-top: 60px;
        }

        a {
            font-family: $myFont;
            font-size: 28px;
            border-radius: 5px;
            text-decoration: none;
            font-weight: 580;
            text-align: center;
            align-items: center;
            display: block;
            padding: 40px 14px;
        }
    }

    .course-middlecardp2 {
        gap: 20px;
        display: grid;
        margin-top: 20px;

        @media all and (min-width:1000px) {
            grid-template-columns: repeat(2, minmax(200px, 1fr));
            gap: 70px;
            margin-top: 60px;
        }

        a {
            font-family: $myFont;
            font-size: 30px;
            border-radius: 5px;
            text-decoration: none;
            font-weight: 500;
            text-align: center;
            align-items: center;
            display: block;
            padding: 40px 34px;
        }

    }

    .code-section {
        text-align: center;
        align-items: center;
        width: 71%;
        min-width: 371px;
        margin: auto;
        gap: 10px;
        color: $mycolor;
        margin-top: 200px;

        h1 {
            font-size: 65px;
            font-weight: 700;
            margin-bottom: 0;

            @media (max-width: 768px) {
                font-size: 50px;
            }
        }

        p {
            font-size: 19px;
            font-weight: 400;
            margin-bottom: 70px;

            @media (max-width: 768px) {
                font-size: 16px;
                margin-bottom: 40px;
            }
        }

        .code-editer {
            background: #f1f1f1;
            height: 362px;
            gap: 10px;
            border-radius: 5px;

            @media (max-width: 768px) {
                width: 95%;
                height: 208px;
            }

            img {
                width: 366px;
                height: 283px;

                @media (max-width: 768px) {
                    width: 90%;
                    height: auto;
                }

                @media (min-width: 1000px) {
                    width: 100%;
                }
            }

            .code-editer-top {
                display: flex;
                align-items: center;
                padding: 7px;
                flex-wrap: wrap;
                /* Allow wrapping on small screens */

                .code-editer-top-left {
                    width: 100%;
                    text-align: left;
                    max-width: 200px;

                    .dot {
                        padding: 7px;
                        display: inline-block;
                        border-radius: 10px;
                    }
                }

                .code-editer-top-right {
                    background-color: white;
                    color: #666;
                    font-size: 14px;
                    width: 70%;
                    padding: 3px;
                    text-align: left;

                    @media (max-width: 768px) {
                        width: 100%;
                        /* Make it full width on smaller screens */
                    }
                }
            }

            .middelpart {
                text-align: left;
                display: flex;
                flex-wrap: wrap;
                /* Allow wrapping on smaller screens */

                div {
                    font-size: 17px;
                    font-weight: 450;
                    padding: 10px;
                    color: $myblack;
                    width: auto;
                    /* Allow div to adjust width based on content */

                    @media (max-width: 768px) {
                        font-size: 14px;
                        padding: 5px 41px;
                    }
                }

                .active {
                    background-color: #E7E9EB;
                }
            }
        }

        .code-editor-btn {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            a {
                border-radius: 5px;
                text-decoration: none;
                font-weight: 500;
                font-size: 18px;
                text-align: left;
                margin-top: 20px;
                padding: 10px 15px;
                align-items: center;

                @media (max-width: 768px) {
                    font-size: 16px;
                    padding: 8px 12px;
                    width: 89%;
                    /* Make buttons full width on smaller screens */
                }
            }
        }
    }


    .Spaces-section {
        align-items: center;
        text-align: center;
        color: $mycolor;

        h1 {
            margin-top: 130px;
            font-size: 65px;
            font-weight: 700;
        }

        h3 {
            text-align: center;
            line-height: 1.9;
            font-size: 28px;
            font-weight: bold;
        }

        a {
            font-size: 22px;
            font-weight: 400;
            color: $mybackcolorpink;
        }

        a:hover {
            color: #04AA6D;
        }

        img {
            margin-top: 20px;
            margin-bottom: 70px;
            width: 349px;

            @media all and (min-width:1000px) {
                width: 70%;
            }

        }

        .bg-green {
            color: white;
            text-decoration: none;
            border-radius: 25px;
            margin-top: 16px;
            font-size: 21px;
            width: 300px;
            padding: 13px 100px;
            margin-bottom: 20px;
        }
    }
}

//----------------------------------------------Learning-section----------------------------------------------------------------
.Learning-section {
    display: flex;
    background-color: $myblue;
    padding: 65px 300px;
    justify-content: space-evenly;

    @media all and (max-width: 1000px) {
        flex-direction: column;
        padding: 30px 40px;
    }

    .learn-img {
        img {
            width: 84%;
            max-width: 500px;
            padding: 3%;
            margin-top: 15px;
            margin-bottom: 5px;
            min-width: 300px;

            @media all and (max-width: 1000px) {
                width: 80%;
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }

    .learn-text {
        font-family: $myFont;
        text-align: center;
        line-height: 1.5;
        align-items: center;

        h1 {
            font-size: 3.5rem;
            font-weight: 700;

            @media all and (max-width: 1000px) {
                font-size: 2.5rem;
            }
        }

        p {
            font-size: 18px;
            font-weight: bold;
            font-family: 'Source Sans Pro', sans-serif;
            line-height: 1.5;

            @media all and (max-width: 1000px) {
                font-size: 1rem;
            }
        }

        a {
            text-decoration: none;
            border-radius: 32px;
            margin-top: 110px;
            font-size: 21px;
            width: 300px;
            padding: 11px 86px;
            margin-bottom: 20px;

            @media all and (max-width: 1000px) {
                width: 100%;
                padding: 9px 65px;
                font-size: 1rem;
            }
        }
    }
}

//-------------------------------------------plus user-----------------------------------------------------------------------------
.section-plus-user {
    background-color: #282A35;
    color: $mycolor;
    align-items: center;
    padding: 50px 0px;
    text-align: center;
    font-family: $myFont;
    font-weight: bolder;

    .plus-user {
        text-align: center;

        h1 {
            font-size: 52px;
            line-height: 55px;
            padding-top: 11px;
            padding-bottom: 20px;
            color: #fff;
        }

        .list {
            align-items: center;
            margin: auto;
            width: fit-content;
            text-align: center;
            line-height: 0;
            margin-bottom: 50px;

            .list-item {
                display: flex;
                gap: 10px;

                p {
                    color: $mycolor;
                    font-size: 20px;
                }
            }

        }

        a {
            color: white;
            text-decoration: none;
            border-radius: 25px;
            margin-top: 16px;
            font-size: 21px;
            width: 300px;
            padding: 13px 100px;
            margin-bottom: 20px;
        }

        p {
            font-size: 25px;
            margin: 19px 0;
            color: $mybackcolorpink;
        }
    }

}

//-------------------------------------------color section----------------------------------------------------------------------------
.color-section {
    background-color: $mymainpurple;
    text-align: center;
    font-family: $myFont;
    padding: 50px 0px;
    line-height: 1.5;
    align-items: center;

    .color-sec-p {
        h1 {
            margin: 0;
            font-size: 65px;
            font-weight: 700;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            margin: 10px 0;
            line-height: 1.5;
        }

        img:hover {
            opacity: 0.9;
            cursor: pointer;
        }
    }


}

//-------------------------------------------code game----------------------------------------------------------------------------
.code-game-con {
    background-color: #96D4D4;
    padding: 40px;
    top: -10px;
    align-items: center;
    text-align: center;

    h1 {
        margin: 0;
        font-family: "Freckle Face", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 48px;
    }

    p {
        font-family: "Freckle Face", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 32px;
    }

    .bg-blue {
        text-decoration: none;
        font-family: $myFont;
        font-size: 20px;
        width: 200px;
        border-radius: 25px;
        padding: 13px 53px;
    }
}

//------------------------------Exercises and Quizzes-----------------------------------------------------------------
.exercise {
    background-color: #282A35;
    top: -10px;
    padding: 90px 20px;

    .exersixe-text {
        align-items: center;
        text-align: center;
        max-width: 1200px;
        margin: auto;

        h1 {
            margin: 0;
            font-family: $myFont;
            font-weight: 700;
            color: $mycolor;
            font-size: 55px;
        }

        p {
            font-size: 18px;
            font-family: $myFont;
            color: $mycolor;
        }

        .exersize-grid {
            display: flex;
            flex-wrap: wrap;
            padding-top: 30px;
            gap: 20px;

            @media all and (min-width:1000px) {
                gap: 70px;
            }

            a {
                flex: 1;
                min-width: 200px;
                padding: 60px;
                font-size: 35px;
                border-radius: 5px;
                font-family: $myFont;
                text-decoration: none;
            }
        }
    }


}

//----------------------------------------web----------------------------------
.web {
    background-color: #E7E9EB;
    color: black;
    padding: 50px;
    top: -10px;

    .web_container {
        width: 100%;
        margin: auto;
        max-width: 1000px;
        text-align: center;
        font-family: $myFont;

        h1 {
            margin: 0;
            font-size: 55px;
            font-family: 700px;
        }

        p {
            font-size: 20px;
        }

        img {
            width: 100%;
        }

        .bg-blue {
            display: block;
            margin: auto;
            font-size: 20px;
            padding: 16px 16px;
            margin-top: 20px;
            border-radius: 20px;
            text-decoration: none;
        }
    }
}

//------------------------------------------kick start------------------------------------------
.Kickstart {
    background-color: $mybackcolorblue;
    color: #FFC0C7;
    font-family: $myFont;
    position: relative;
    top: -10px;
    padding: 50px;

    .lickstart-con {
        max-width: 1200px;
        width: 100%;
        margin: auto;

        h1 {
            margin: 52px 0px;
        }

        a {
            text-decoration: none;
            border-radius: 50px;
            padding: 19px 80px;
            font-size: 18px;
        }

    }

    .kick-logo {
        width: 100px;
        position: absolute;
        top: -50px;
        right: 20px;

        @media all and (min-width:850px) {
            width: 350px;
            position: absolute;
            top: auto;
            bottom: -50px;
            right: 50px;
            display: flex;
        }

        .kick-arrow {
            display: none;

            @media all and (min-width:850px) {
                display: block;
                width: 300px;
            }

        }
    }
}

/**************************************How To Section*********************************************/
.HowToSection_section {
    padding: 50px 10px;
    font-family: $myFont;

    .HowToSection-con {
        width: 100%;
        max-width: 1000px;
        margin: auto;
        text-align: center;

        h1 {
            font-size: 58px;
            font-weight: 700;
            margin: 0;
        }

        .code-editer {
            background: #f1f1f1;
            gap: 10px;
            border-radius: 5px;
            border: 0px #f1f1f1 solid;

            .code-editer-top {
                display: flex;
                align-items: center;
                padding: 7px;
                flex-wrap: wrap;

                .code-editer-top-left {
                    width: 100%;
                    text-align: left;
                    max-width: 200px;

                    .dot {
                        padding: 7px;
                        display: inline-block;
                        border-radius: 10px;
                    }
                }

                .code-editer-top-right {
                    background-color: white;
                    color: #666;
                    font-size: 14px;
                    width: 70%;
                    padding: 3px;
                    text-align: left;
                }
            }

            .slideshow-container {
                max-width: 1000px;
                position: relative;
                margin: auto;

                .mySlides {
                    display: none;
                    width: 99%;

                    img {
                        margin-left: 4px;
                        width: 100%;
                    }

                    .text {
                        color: #f2f2f2;
                        font-size: 15px;
                        padding: 8px 12px;
                        position: absolute;
                        bottom: 8px;
                        width: 100%;
                        text-align: center;
                    }

                    .numbertext {
                        color: #f2f2f2;
                        font-size: 12px;
                        padding: 8px 12px;
                        position: absolute;
                        top: 0;
                    }
                }

                .prev,
                .next {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    width: auto;
                    margin-top: -22px;
                    padding: 10px;
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                    transition: 0.6s ease;
                    border-radius: 0 3px 3px 0;
                    user-select: none;
                }

                .prev {
                    right: 96%;
                }

                .next {
                    right: 0;
                }

                .prev:hover,
                .next:hover {
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }

            .dot-con {
                padding-bottom: 15px;

                @media (max-width: 480px) {
                    padding-bottom: 0px;
                }

                .dot {
                    cursor: pointer;
                    height: 15px;
                    width: 15px;
                    margin: 0 2px;
                    background-color: #bbb;
                    border-radius: 50%;
                    display: inline-block;
                    transition: background-color 0.6s ease;
                }

                .dot:hover {
                    background-color: #717171;
                }

                .fade {
                    animation-name: fade;
                    animation-duration: 1.5s;

                    @keyframes fade {
                        from {
                            opacity: .4;
                        }

                        to {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .lastbutton {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .verticalbox {
                width: 49px;
                height: 80px;
                background-color: #282A35;
            }

            a {
                text-decoration: none;
                font-size: 20px;
                border-radius: 25px;
                padding: 20px 180px;

                @media (max-width: 480px) {
                    padding: 15px 102px;
                }
            }
        }
    }
}

.footerwrapper {
    background-image: url(assets/image/22lynx_landing.webp), url(assets/image/23background_in_space.webp);
    background-color: #282A35;
    background-repeat: no-repeat, repeat;
    background-position: right bottom, center center;
    padding: 70px 200px;

    @media all and (max-width:1000px) {
        padding: 63px 44px;
    }

    @media all and (max-width:700px) {
        background-position: center bottom, center center;
    }


    .spacemyfooter {
        font-family: $myFont;
        gap: 40px;

        .footer-nav {
            display: flex;
            align-items: center;
            text-align: center;
            gap: 35px;
            padding-bottom: 50px;

            @media all and (max-width:505px) {
                display: grid;
                justify-content: center;
            }

            a {
                text-decoration: none;
                color: $mybackyellow;
                font-size: 15px;
                line-height: 1.5;
            }

            img {
                width: 49px;
                height: 46px;
            }
        }

        .footer-main {
            color: $mycolor;
            text-decoration: none;
            display: flex;
            gap: 80px;

            @media all and (max-width:505px) {
                display: grid;
                padding-bottom: 50px;
            }

            .footer-m-list {
                width: auto;
                float: left;
                padding-right: 90px;
                color: #ddd;
                padding-bottom: 270px;
                line-height: 15px;

                @media all and (max-width:505px) {
                    display: grid;
                    justify-content: center;
                    padding: 0px;
                }

                h6 {
                    margin: 15px 0px;
                    font-size: 18px;
                    color: #ddd;
                }

                a {
                    font-size: 12px;
                    text-decoration: none;
                    color: #ddd;
                    display: block;
                }

            }
        }

        .footer-foot-part {
            @media all and (max-width:505px) {
                padding-bottom: 350px;
            }

            p {
                font-size: 12px;
                color: #ddd;

                @media all and (max-width:505px) {
                    padding-bottom: 10px;
                }

                a {
                    font-size: 12px;
                    color: #ddd;
                }
            }

            .foot_icons {
                @media all and (max-width:505px) {
                    display: grid;
                    justify-content: center;
                    gap: 20px;
                    padding-bottom: 30px;
                }

                .icon4 {
                    @media all and (max-width:505px) {
                        display: grid;
                        justify-content: center;
                        grid-template-columns: auto auto auto auto;
                        gap: 20px;
                    }
                }

                .iconsy {
                    @media all and (max-width:505px) {
                        display: grid;
                        justify-content: center;
                        grid-template-columns: auto auto;
                        gap: 20px;
                    }

                    a {
                        font-size: 15px;
                        line-height: 15px;
                        text-decoration: none;
                        color: #ddd;
                        padding-right: 10px;
                    }
                }

            }
        }
    }
}